<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head.ejs') %>
        <%- include('./partials/scripts.ejs') %>
            <%- include('./partials/nav.ejs') %>
</head>

<body>
    <form class="container" method="post" enctype="multipart/form-data" action="/blogs/add" >
        <div class="mb-3 mt-3 ">
            <label class="form-check-label" for="exampleCheck1">Thumbnail</label>
            <input type="file" name="thumbnail" class="form-input" id="exampleCheck1">
          
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Blog Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <label for="exampleInputPassword1" class="form-label">Blog Description</label>
        <div class="mb-3">
            <textarea name="des" rows="10" cols="150"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>

</html>