<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/scripts.ejs') %> 
    
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    
   <h3 class="mt-5 mb-3 container ">Welcome to BlogSpace</h3>
   <br/>
<p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quas reprehenderit eveniet. Nihil debitis rerum porro dignissimos maxime quia? Nemo incidunt quia ex accusantium facilis beatae. Pariatur esse consequuntur, iste unde labore sequi rerum, dolorem vel omnis voluptatem enim placeat, corporis delectus deleniti necessitatibus maxime perspiciatis vitae a ratione nobis modi non? Molestias, voluptatum alias? Provident nisi similique quasi error corporis esse, dolores beatae earum dolor possimus quis dicta consequuntur aliquid quae eum maiores natus consectetur animi sed rerum laboriosam velit! Reprehenderit quod libero eos provident rerum totam optio ut, velit ipsa asperiores nihil veritatis enim eius aliquam nesciunt quisquam officiis qui excepturi assumenda cumque. Sequi ducimus aperiam obcaecati vel pariatur ea fugit eveniet, veritatis at et saepe voluptatem? Reprehenderit dolor maxime in hic rerum dolorem, veritatis nobis voluptatem quod numquam vitae nihil eum exercitationem fuga sit, ab cum quisquam dolores debitis assumenda quia iure. Velit dolores cupiditate maxime laudantium.</p>




<div class=" mx-auto p-5  row row-cols-2" style="width: 30%;">
  <a href="/user/login"><input  class=" btn btn-primary " type="button" value="Login"></a>
  <a href="/user/signup"><input  class=" btn btn-primary " type="button" value="Signup"></a>
  </div>
</body>
</html>